* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}

.alt {
  text-indent: -9999px;
}


/*================================================
 Announcement
==================================================*/

li.announcement {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(193, 193, 193);
  padding: 10px;
}

li.announcement:last-child {
  border-bottom: none;
}

li.announcement div.dot {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  border-radius: 10px;
}

li.announcement> div:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

li.announcement> div:nth-child(2) p {
  text-align: justify;
}

li.announcement> p.date {
  margin-left: auto;
  text-align: right;
  flex-shrink: 0;
  font-size: 0.8em;
  align-self: flex-start;
  font-weight: lighter;
  ;
  color: rgb(161, 161, 161);
}


/*================================================
 AnnouncementList
==================================================*/

section.announcement-list {
  border: 5px solid rgb(52, 75, 143);
  border-radius: 15px;
  background-color: rgba(226, 229, 232, 0.88);
}

section.announcement-list> h1 {
  text-align: center;
  color: rgb(53, 87, 144);
}


/*================================================
 NewsSlider
==================================================*/

section.news-slider {
  width: 100vw;
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-dots {
  bottom: 7px;
}

.slick-dots li button:before {
  opacity: 0.4;
  color: white;
}


/*================================================
 NewsItem
==================================================*/

article.news-item {
  position: relative;
}

article.news-item .image {
  min-height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

article.news-item .wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: url("https://c402277.ssl.cf1.rackcdn.com/photos/9061/images/original/gradient-4.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

article.news-item .caption {
  color: white;
  max-width: 1160px;
  padding: 30px 15px;
  margin: 0 auto;
}

article.news-item .caption h2 {
  font-size: 1.7em;
  line-height: 2.0em;
  text-transform: uppercase;
  display: inline-block;
}

article.news-item .caption h3 {
  font-weight: lighter;
}

article.news-item .caption h2.link:hover {
  text-decoration: underline;
  cursor: pointer;
}


/*================================================
 Navbar
==================================================*/

header {
  background-color: #184481;
  color: rgb(252, 252, 252);
  padding: 20px 10px 15px;
}

header nav {
  float: right;
}

header nav:hover {
  color: #5E87C0;
}

header li {
  float: left;
}

header .container {
  max-width: 1200px;
}

header nav li> a {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.35em;
  font-size: 1.1em;
  transition: all 0.25s ease-in-out;
}

header nav li> a:hover {
  color: rgb(252, 252, 252);
}

#logo {
  width: 100px;
  height: 120px;
  background-image: url('/images/drop-banner.png');
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  left: 0;
}

header ul.navbar-buttons {
  float: right;
  margin-left: 30px;
}

header ul.navbar-buttons li button {
  background-color: #fa7014;
  border-radius: 3px;
  color: inherit;
  padding: 5px 20px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.1em;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

header ul.navbar-buttons li button:hover {
  background-color: #C04638;
}

header ul.navbar-items {
  margin-right: 30px;
}


/*================================================
 Extra Small Devices
==================================================*/

@media (max-width: 767px) {
  article.news-item .caption h2 {
    font-size: 1.4em;
  }
}


/*================================================
 Super Extra Small Devices
==================================================*/

@media (max-width: 479px) {
  article.news-item .caption h2 {
    font-size: 1.2em;
  }
}
