node_modules/
build/
*.sqlite
*.log
working_area/
data/images/*
!data/images/.keep
test/fixtures/data/images/*
!test/fixtures/data/images/.keep
client/dist/*
!client/dist/index.html
!client/dist/images/
dummy_data/
.DS_STORE
